# =========================================================
# Environment
# =========================================================
.env
.env.*
!.env.example

# =========================================================
# Dependencies
# =========================================================
/vendor
/node_modules
/bower_components

# =========================================================
# Laravel
# =========================================================
/public/build
/public/hot
/public/storage

/storage/*.key
/storage/pail
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# =========================================================
# Laravel Debugbar
# =========================================================
/storage/debugbar/*

# =========================================================
# Logs & Cache
# =========================================================
*.log
*.log.*
.phpunit.result.cache

# =========================================================
# IDE
# =========================================================
/.idea
/.vscode
/.fleet
/.nova
/.zed
.phpactor.json
auth.json

# =========================================================
# OS
# =========================================================
.DS_Store
Thumbs.db

# =========================================================
# PHPUnit
# =========================================================
.phpunit.result.cache

# =========================================================
# Homestead
# =========================================================
Homestead.json
Homestead.yaml

# =========================================================
# NPM / Yarn
# =========================================================
npm-debug.log*
yarn-error.log*

# =========================================================
# Database dumps
# =========================================================
*.sql

# =========================================================
# Other
# =========================================================
/tabler-icons-main